div {
  box-sizing: border-box;
  padding: .5em;
}

a {
  cursor: pointer;
}

article > div.topic-list > div.topic {
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  margin: 1em 0;
}

.error {
  color: #cd5c5c;
}

.success {
  color: #5ccd5c;
}

div#create-user-account {
  background-color: #ffffff;
  border: 1px solid #000000;
  position: fixed;
  top: 33%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

div.form-feedback {
  margin-bottom: 15px;
}

div.leave-comment {
  margin: 0;
  padding: 0;
}

div.topic-comments div.topic {
  padding: .75em;
  padding-bottom: 0;
  border-top: 1px solid #aaaaaa;
}

div.topic-controls {
  padding: 0;
}